$body-font: Roboto;
$title-font: Amethysta;

$primary-color: #191818;
$primary-color-faded: #332B38;
$second-color: rgb(124, 60, 123);
$second-color-faded: rgb(124, 60, 123, 0.5);

$primary-text-color: #eee;
$second-text-color: #999;