<div id="le-voeu-de-yoko" class="book-background background--vdy">
  <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-10-24">
    <div class="book padding--large">
      <h1>Le Voeu de Yoko</h1>
      <h2>I. Renaissance</h2>
      <p>Tobias Fènnel est un jeune homme devenu acariâtre et très affaibli depuis un sort qui a mal tourné. Privé de sa magie, fardeau pour sa famille, son existence a perdu tout son sens.</p>
      <p>Pour le guérir, son père place ses derniers espoirs en une chamane du Pays Rouge. Tobias accepte avec fatalité cet exil et s'apprête à attendre la mort loin de chez lui.</p>
      <p>Qui aurait cru que cette région mystérieuse, cachée derrière le Mur d'Athos, réveillerait en lui de tels sentiments&nbsp;?</p>
      <p>Mais le désir de vivre ne suffit pas toujours à donner un sens à la vie. Tobias saura-t-il trouver, dans l'avenir qui se dessine, assez de détermination pour combattre son état&nbsp;? et assez d'inspiration pour partager ce nouvel amour du Pays Rouge&nbsp;?</p>
      <a class="pure-button pa"
        target="_blank" 
        rel="noopener noreferrer"  
        href="https://www.plumedargent.fr/histoire/renaissance-1"
      >
        Lire sur Plume d'Argent
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-14-24">
    <div class="padding--large">
      <AdrBookDetails @book="book-info-vdy" @slots={{1}} @current={{0}}>
        <div id="book-info-vdy-0">
          <div class="margin-bottom--medium">
            <AdrBookDetailsFeedback @quotes={{array
              (hash
                author="Ewjoachim"
                content="Je l'ai lu d'une traite. J'ai trouvé plutôt énergisant la &ldquo;renaissance&rdquo; du protagoniste, et la subtilité de l'écriture où, à travers le roman, il comprend que c'est moins sa reconstruction physique qui est en jeu, qui est un thème de moins en moins présent au fur et à mesure des pages, et de plus en plus la réinvention de sa personnalité."
              )
              (hash
                author="Mlle Ellute"
                content="C'est une très belle histoire que celle de Tobias et Yoko. J'ai été transportée dans l'ambiance du pays rouge et apaisée par sa sérénité. En même temps, j'aime beaucoup la réflexion autour de l'isolement dans les traditions : oui c'est exotique et apaisant, mais c'est aussi un enfermement. C'est une histoire douce et intelligente. J'ai hâte de découvrir comment cette histoire va évoluer. Je pense que le développement de Tobias et Yoko sera aussi intéressant que celui de l'univers."
              )
            }} />
          </div>
        </div>
      </AdrBookDetails>
    </div> 
  </div>
</div>