<div id="ede" class="book-background background--ede">
  <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-10-24">
    <div class="book padding--large">
      <h1>L'Enfant des Esprits</h1>
      <p>Les esprits existent-ils vraiment&nbsp;?</p>
      <p>Certains le pensent, et leurs croyances influencent les pas des enfants de ce monde&nbsp;; ceux de cette jeune Rêveuse, cloîtrée dans son temple sous-marin, ou ceux de ce garçon maudit, résigné à un avenir fade.</p>
      <p>Entre relique du Rêve qui ne fonctionne plus et manifestation de pouvoirs étranges, c'est ensemble qu'ils quittent leur foyer en quête de réponses. Mais le destin les sépare déjà et les entraine en un même lieu&nbsp;: la mystérieuse Académie des Renards.</p><p>On raconte qu'on peut tout y apprendre... y apprendront-ils l'évidence qui se cache en eux&nbsp;?</p>
      {{!-- <adr-book-links file="enfant-des-esprits-extrait.pdf" ebook-link="https://ko-fi.com/s/3a9743c5de"></adr-book-links>  --}}
      {{!-- <p>L'Enfant des Esprits est aussi disponible sur <a href="https://www.kobo.com/fr/fr/ebook/l-enfant-des-esprits" target="_blank" rel="noopener">Kobo</a>.</p> --}}
      <br />
      <p>L'Enfant des Esprits est en cours de ré-écriture, en vue d'améliorer le texte avant l'impression d'un livre broché.</p>
    </div>      
  </div>
  <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-14-24">
    <div class="padding--large">
      <AdrBookDetails @book="book-info-ede" @slots={{1}} @current={{0}}>
        <div id="book-info-ede-0">
          <div class="margin-bottom--medium">
            <AdrBookDetailsFeedback @quotes={{array
              (hash
                author="Guillaume"
                content="Les personnages ont tous une personnalité unique et voyagent dans des lieux tous très différents qu'on prend plaisir à découvrir. Il y a une bonne immersion dans l'univers et l'histoire garde le tout très rythmé. J'ai particulièrement apprécié les chapitres dans le désert."
              )
              (hash
                author="Ana"
                content="J'ai beaucoup aimé par contre je me demandais s'il y a une suite, histoire de savoir ce que deviennent Ben et Sun..."
              )
              }} />
          </div>
        </div>
      </AdrBookDetails>
    </div>
  </div>
</div>