/* Pure CSS override */

.pure-button {
  font-family: Roboto;
  box-shadow: 2px 2px 2px #121212;
  margin-bottom: 10px;
}

.pure-button--black {
  color: #fff;
  background-color: #222;
}

.pure-button--black:hover,
.pure-button--black:focus {
  background-color: #332B38;
}

/* Link style buttons */

a {
  color: #fff;
}

/* Specific gumroad buttons */

.download-button {
  margin-right: 3px;
  padding: 0px;
  padding-top: 5px;
  height: 60px;
  width: 112px;
}

.download-button img {
  height: 50px;
}