@use 'variables';

.article-button {
  /* override pure-button to have more space to read */
  padding: .8em 1.2em;
  /* Set a width to have all buttons at the same size */
  width: 100%;
  /* Text is not wrapped by default on <a> elements */
  white-space: inherit;

  .article-button-icon {
    text-align: left;
  }
}

@media (min-width: 72em) {
  .article-button {
    /* Set a width to have all buttons at the same size (bigger screen) */
    width: 80%;
  }
}

@media (min-width: 86em) {
  .article-button {
    /* Set a width to have all buttons at the same size (bigger screen) */
    width: 70%;
  }
}
