/* Fonts */
$body-font: Roboto;
$title-font: Amethysta;

/* Backgrounds colors */
$primary-color: #191818;
$primary-color-light: #332B38;
$primary-color-faded: #1918183d;
$second-color: #6f5aa1;
$second-color-faded: #4538647a;

/* Texts colors */
$primary-text-color: #eee;
$second-text-color: #999;

/* Other colors */
$separator-color: #333;