/* Fonts */
$body-font: Roboto, "Segoe UI", -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$title-font: Tahoma, Verdana, Roboto, "Segoe UI", -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

/* Backgrounds colors */
$primary-color: #191818;
$primary-color-light: #332B38;
$primary-color-faded: #1918183d;
$second-color: #6f5aa1;
$second-color-half-faded: #453864b9;
$second-color-faded: #453864a3;

/* Texts colors */
$primary-text-color: #eee;
$second-text-color: #999;

/* Other colors */
$separator-color: #333;

/* Sizes */
$space-tiny: 4px;
$space-small: 10px;
$space-medium: 20px;
$space-large: 40px;