{{page-title "Gamma lecture de l'Enfant des Esprits"}}

<div id="books" class="pure-g">
  <div id="books-list">
    <div id="ede" class="book-background background--ede">
      <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-16-24">
        <div class="book padding--large">
          <h1>Une Gamma lecture pour l'Enfant des Esprits</h1>
          <p>Je recherche une personne pour lire en avant-première la nouvelle version de l'Enfant des Esprits en tant que gamma lecteur(ice).</p>
          <br />

          <h2>* De qui j'ai besoin&nbsp;?</h2>
          <p>J'ai besoin d'un gamma lecteur ou d'une gamma lectrice amateur(e) (comme moi) disponible cette année, et qui pense avoir le temps de finir le livre et écrire son rapport dans les quatre mois qui viennent.</p>
          <p>Je propose un échange d'alpha/bêta/gamma lecture pour un ou plusieurs textes d'une taille totale similaire. Je suis une lectrice de bon niveau, je gère le français de fou, et je connais de bonnes grilles de bêta lecture sur lesquelles m'appuyer pour faire des retours détaillés. Je lis plutôt de la SFFF, et je déteste le gore et la violence physique (si un passage est trop violent ou sanguinolant, je devrai le passer, et si tout le livre l'est, je ne pourrai pas le lire).</p>
          <br />

          <h2>* Une gamma lecture, c'est quoi&nbsp;?</h2>
          <p>C'est un terme que j'emprunte à May C. Ellis après l'avoir découvert dans un post de Sarah Croci, qui le définit ainsi&nbsp;:</p>
          <quote><em>"[Après la bêta lecture], une fois les réécritures terminées, [la gamma lecture] constitue le dernier passage sur le roman avant les étapes suivantes (...) Elle permet de repérer les toutes dernières incohérences, les petits aspects auxquels on n'avait pas prêté attention avant, trop focolisés sur le gros du travail."</em></quote>
          <p>En d'autres termes, l'ouvrage n'en est plus à la bêta lecture, il est proche de sa forme finale. Seulement, il pourrait bien y avoir quelques derniers passages à modifier.</p>
          <br />

          <h2>* L'Enfant des Esprits, c'est quoi&nbsp;?</h2>
          <p>C'est un roman de fantasy contemporaine, d'environ 164~165k mots répartis en 31 chapitres. Pour celles et ceux qui connaissent, il se situe environ deux ans avant Suzuha, et on retrouve certains personnages.</p>
          <p>Ça parle de quête de sens, de «&nbsp;que suis-je censé faire de ma vie&nbsp;?&nbsp;» Ben ne le sait pas trop, mais il cherche, et quand on part avec un handicap comme le sien, on sait se montrer ouvert aux opportunités. Sun pensait le savoir, mais quand l'objet qui donnait un sens à sa vie décide de ne plus marcher, elle est bien embêtée... Le texte prévu pour la 4ème de couverture est disponible sur la page "Les livres" de ce site. Il y a de la magie, des smartphones, des voitures qui volent, et un très très très très gros chat avec des dents.</p>
          <p>L'Enfant des Esprits n'est pas tout neuf, c'est un roman que j'ai publié pour la première fois en 2020, au format numérique. Aujourd'hui, j'aimerais le faire imprimer. Seulement voilà, depuis 2020, j'ai progressé&nbsp;: j'écris mieux, je corrige mieux, je pense mieux mon univers. Je me suis donc lancée dans une réécriture afin d'améliorer sa qualité avant impression.</p>
          <p>Sur Kobo, le livre a plutôt reçu de bons retours malgré ses nombreux défauts. J'ai maintenant besoin d'être rassurée sur la nouvelle version et de vérifier que mes modifications sont comprises et constituent bien une amélioration.</p>
          <br />
          
          <h2>* Ce dont j'ai besoin</h2>
          <p>J'ai besoin que vous preniez plaisir à lire le livre. Il est proche de sa version finale, et j'y apporterai uniquement des modifications mineures, relativement simples à insérer, qui ne risquent pas de créer de nouveau problème derrière. Si vous n'accrochez pas du tout, ou si dès les premiers chapitres vous remplissez des pages de notes sur mes choix de style, ne vous infligez pas le reste, ce n'est pas grave. Si vous accrochez...</p>
          <h3>Rapport détaillé&nbsp;:</h3>
          <p>J'ai besoin de la liste des extraits qui vous ont posé problème. Encore une fois, n'abordez pas ce livre comme un livre en bêta, mais plutôt comme un livre que vous auriez trouvé en librairie, et que vous critiqueriez lors de sa lecture. Je vous conseille de noter ou commenter tout passage qui attire votre attention <strong>dès la première lecture</strong>, car vous n'en ferez a priori qu'une seule.</p>
          <ul>
            <li>Compréhension&nbsp;: reste-t-il des points obscurs sur le fond et la forme&nbsp;? un détail qui paraît incohérent, un passage difficile à comprendre, une phrase peu claire sur laquelle vous avez buté&nbsp;?</li>
            <li>Personnages&nbsp;: ai-je négligé une incohérence dans la façon de s'exprimer ou d'agir d'un personnage, qui vous a paru en décalage avec le reste de sa construction&nbsp;?</li>
            <li>Flow&nbsp;: y a-t-il des passages qui vous ont paru plus prenants ou lassants que d'autres&nbsp;? Sauriez-vous expliquer pourquoi&nbsp;?</li>
            <li>Style&nbsp;: ai-je introduit des "tics de langage" récurrents qui vous ont agacé&nbsp;?</li>
          </ul>
          <h3>Rapport général&nbsp;:</h3>
          <ul>
            <li>Commentaire&nbsp;: un court retour de lecture, quelques phrases qui résument ce que vous en avez pensé.</li>
            <li>Premier chapitre&nbsp;: êtes-vous rentré facilement dans l'histoire&nbsp;?</li>
            <li>Public&nbsp;: à quel public destineriez-vous le livre&nbsp;?</li>
            <li>Clichés&nbsp;: quels éléments vous ont-ils paru cliché&nbsp;?</li>
            <li>Personnages&nbsp;: certains personnages vous ont-ils déplu, et pourquoi&nbsp;? Êtes-vous tombé amoureux fou de l'un d'eux, et pourquoi&nbsp;?</li>
          </ul>
          <p>Vous êtes libre d'ajouter tout autre point qui n'apparaît pas ci-dessus.</p>
          <br />

          <p>Voilà, je pense qu'on a fait le tour. J'espère que cette page (n'était pas trop longue et) a su vous donner une bonne idée de ce que je recherche avec cette lecture en avant-première. Si ça vous tente, envoyez-moi un petit message :)</p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-8-24"></div>
    </div>
  </div>
</div>