{{page-title "L'Académie des Renards"}}

<div id="home" class="pure-g">
  <div class="book-background background--renard">
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-10-24">
      <div class="book padding--large">
        <h1>Une fantasy pour toutes et tous</h1>
        <br />
        <h2>* Pour tous les budgets</h2>
        <p>Pour que le plaisir de lire n'ait pas de prix, les livres numériques de l'Académie des Renards sont disponibles gratuitement sous licence CC BY-NC-ND. Chaque lecteur peut choisir de soutenir financièrement le projet.</p>
        <h2>* Pour tous les goûts</h2>
        <p>Chaque histoire possède sa propre ambiance et son propre style narratif. Le monde de l'Académie des Renards se découvre en plusieurs lieux et plusieurs époques.</p>
        <h2>* Et pour les oreilles ?</h2>
        <p>Les livres numériques de l'Académie des Renards ne sont pas encore disponibles en livres audio. Ce projet constitue le prochain cap pour l'académie en parallèle de la publication des romans.</p>
        <LinkTo class="pure-button pure-button--black" @route="que-choisir">Quelle lecture choisir ?</LinkTo>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-24 pure-u-lg-6-24">
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-11-24 pure-u-lg-8-24">
    </div>
  </div>
</div>