{{page-title "La série - L'Académie des Renards"}}

<div id="series" class="pure-g">
  <div class="book-background background--classic">
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-12-24 pure-u-lg-10-24">
      <div class="book padding--large">
        <p>L'Académie des Renards est une série de romans fantasy indépendante. La série compte à ce jour trois romans publiés, dont le premier est disponible au format papier.</p>
        <h2>* Les Renards n'ont qu'un terrier</h2>
        <p>Les différentes histoires se déroulent dans un univers unique. Elles peuvent se lire dans n'importe quel ordre, et il arrive d'y croiser des visages familiers de l'une à l'autre. À travers leurs pages, vous partagerez les aventures de nombreuses âmes ayant fréquenté la mystérieuse académie de Tobias Fènnel, et découvrirez le monde qui s'étend au-delà de ses murs.</p>
        <h2>* Les Renards vivent avec leur temps</h2>
        <p>La vraie magie de la fantasy, c'est qu'elle permet de concevoir un univers au service du propos. La flexibilité du genre permet de porter les thèmes actuels et de décrire le monde d'aujourd'hui à travers les plus belles métaphores qui soient.</p>
        <h2>* Les Renards aiment expérimenter</h2>
        <p>Les histoires de l'académie ne se distinguent pas seulement par le lieu et l'époque en lesquels elles prennent place, elles possèdent aussi leur propre style. Contrairement aux sagas fantasy classiques, chaque narration possède son propre temps, son propre rythme, sa propre ambiance. Ainsi, selon vos goûts et votre âge, certaines histoires pourraient vous parler davantage que d'autres.</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-24 pure-u-lg-6-24">
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-11-24 pure-u-lg-8-24">
    </div>
  </div>
</div>